{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit: {{ title }}
{% endblock %}

{% block body %}
    Please edit the {{ title }} file in markdown syntax.
    <br>
    <form action="{% url 'encyclopedia:submit' %}" id="submit-entry" method="post">
        {% csrf_token %}
        <textarea form="submit-entry" name="new_content">{{ content }}</textarea>
        <br>
        <input type="hidden" value="{{ title }}" name="title">
        <input type="hidden" value="False" name="new">
        <input type="submit">
    </form>
{% endblock %}