{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create a New Page
{% endblock %}

{% block body %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                {% if message.tags %}
                    <div class="{{ message.tags }}">Error: {{ message }}</div>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
    <div>Please create a new page in markdown syntax.</div>
    <form action="{% url 'encyclopedia:submit' %}" id="submit-entry" method="post">
        {% csrf_token %}
        <input type="text" name="title">
        <br>
        <textarea form="submit-entry" name="new_content"></textarea>
        <br>
        <input type="hidden" value="True" name="new">
        <input type="submit">
    </form>
{% endblock %}